<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Todos os Usuários: </h1>
    {% if todos_usuarios %}
        {% for user in todos_usuarios %}
            <ul>
                <li> {{user.nome}} ---- {{ user.idade }}</li>
            </ul>
        {%endfor%}
    {%else%}
        <h1>Variável não carregada</h1>
        
    {%endif%}        
</body>
</html>